version: '2.1'
orbs:
  browser-tools: circleci/browser-tools@1.4.0
jobs:
  build:
    working_directory: ~/il-danese-savaggio
    docker:
      - image: cimg/ruby:3.1.2-browsers
        environment:
          BUNDLE_RETRY: 3
          BUNDLE_PATH: vendor/bundle
          DATABASE_URL: postgres://postgres:@localhost:5432/test
          POSTGRES_PASSWORD: postgres
          RAILS_ENV: test
      - image: circleci/postgres:11-alpine

      # Install dependencies for Ruby Gems
      - restore_cache:
          keys:
            - il-danese-savaggio-bundle-v1-{{ checksum "Gemfile.lock" }}
            - il-danese-savaggio-bundle-v1-
      - run:
          name: Configure Bundler
          command: |
            echo 'export BUNDLER_VERSION=$(cat Gemfile.lock | tail -1 | tr -d " ")' >> $BASH_ENV
            source $BASH_ENV
            gem install bundler
      - run:
          name: Bundle Install
          command: bundle check || bundle install
      - save_cache:
          key: il-danese-savaggio-bundle-v1-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle

      # Preparing database
      - run:
          name: Wait for DB
          command: dockerize -wait tcp://127.0.0.1:5432 -timeout 1m

      - run:
          name: Database setup
          command: bin/rails db:create db:schema:load --trace

      # Run test suits
      - run:
          name: Run rspec singlethreaded
          command: bundle exec rspec
      # Save artifacts
      - store_test_results:
          path: /tmp/test-results
